* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(48, 73, 184) !important;
    color: #3cc3c3c !important;
    border: 1px solid #fff !important;
}

/* NAVIGATION */
.navbar {
    background-color: rgb(8, 104, 104) !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgb(168, 164, 164) !important;
}

.navbar a {
    color: #fff !important;
    opacity: 0.7;
}

.navbar a:hover {
    opacity: 1;
    background-color: rgb(46, 38, 156) !important;
}

/* HEADER */
.header {
    height: 800px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(images/concrete-texture.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.header img{
    height: 600px;  
    padding-right: 300px;
    padding-top: 30px;

}

.header h1 {
    font-size: 40px;
    font-weight: 700px;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    margin-top: 20px;
}

.header .btn {
    border-radius: 0;
    margin: 40px 20px;
}

@media(max-width: 768px) {
    .header {
        padding: 30px;
        height: 800px;
    }

    .header img {
        width: auto;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .btn {
        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header p {
        font-size: 10px;
    }
}

@media(max-width: 320px) {
    .header {
        padding: 30px;
        height: 800px;
    }

    .header img {
        position: fixed;
        width: auto;
        height: 200px;
        left: 0;
    }

    .header .btn {
        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header p {
        font-size: 10px;
    }
}

/*ABOUT-ME*/

.about-me {
    padding: 200px 0 200px;
    text-align: center;
}

.about-me h2,
.about-me h4 {
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.about-me p {
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}

.about-me img {
    height: 200px;
    width: auto;
}

/* to add icons and adjust them
.about-me i {
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff
}
*/

@media(max-width: 768px) {
    .about-me {
        padding: 30px;
    }
}

/* Portfolio */
.portfolio {
    padding: 100px 0 200px;
    text-align: center;
    background-image: url(images/concrete-texture.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.portfolio h2, .portfolio p {
    color: #4c4c4c;
    text-align: center;    
}

.portfolio img {
    opacity: .7;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 2px; /* Some padding */
    width: 200px; /* Set a small width */
}

.portfolio img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); /* adds blue shadow hover effect */
    opacity: 1;
}

.portfolio p {
    padding-bottom: 3px;
}

.portfolio .summary {
    padding: 30px;
    border-radius: 5px;
    margin-top: 30px;
}

.summary h4,
.summary h1,
.summary b {
    color: #4c4c4c;;
}

.summary p {
    padding-top: 20px;
    color: #737373;
    text-align: left;
}

@media(max-width: 768px) {
    .portfolio {
        padding: 30px;
    }
    .summary {
        width: 80%;
        margin-left: 25px;
    }
    .portfolio img {
        width: 300px; /* Set a small width */
    }
}
/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .portfolio img {
        width: 150px;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .portfolio img {
        width: 150px;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .portfolio img {
        width: 300px;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .portfolio img {
        width: 300px;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .portfolio img {
        width: 200px;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .portfolio img {
        width: 200px;
    }
}



/* Contact */
.contact {
    padding: 50px 0 80px;
    text-align: center;
}

.contact p {
    padding-bottom: 80px;
    color: hotpink;
}

.contact h2 {
    color: #4c4c4c;
    margin: 20px, 0 20px;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .form-control {
    border-radius: 0 !important;
    background-image: url("images/concrete-texture.jpg");
    background-position: center-center;
    background-attachment: fixed;
    opacity: .5;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-image: url("images/concrete-texture.jpg");
    background-position: center-center;
    background-attachment: fixed;
    opacity: .5;
    color: lightgoldenrodyellow;
}

.contact .btn:hover {
    color: #fff !important;
}

/* Footer */

.footer {
    padding: 30px;
    color: rgb(209, 197, 197);
    background-color: rgb(8, 104, 104) !important;
}

.footer .social {
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: rgb(209, 197, 197);
}

.footer .social:hover {
    color: hotpink;
}

.footer .email-me {
    color: rgb(209, 197, 197);
}
.footer .email-me:hover {
    color: hotpink;
}

.footer input {
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: white;
    color: #000 !important;
}
